# VIM FILES

*.swp
*.swo
*~
finite.vim
tests.vim
src/.gitignore
src/SNmatrices/.gitignore

# BINARY FILES

core
build/*
finitediff
tests_RepeatFunction
tests_SNmatrix

# DOCUMENTATION by DOXYGEN

doc/*

# OTHERS 

.kk.log
tests/.gitignore
