# VIM FILES

*.swp
*.swo
*~
finite.vim
tests.vim
src/.gitignore
src/SNmatrices/.gitignore

# BINARY FILES

core
build/*
finitediff
tests_RepeatFunction
tests_SNmatrix
tests/create_tests_matrices.sage.py

# DOCUMENTATION by DOXYGEN

doc/*

# OTHERS 

.kk.log
TODO.txt
.deploy.log

# SUBDIRECTORIES's .GITIGNORE

tests/.gitignore
src/.gitignore
src/SNmatrices/.gitignore
